{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Your Post</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn theme-button" type="submit">Save</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Create another post ? <a class="ml-2" href="#">Create a new post</a>
            </small>
        </div>
    </div>
{% endblock content %}